@import url('https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap');

.title-authen{
    font-size: 75px;
    font-weight: 600;
    color: #4E2F00;
    font-family: 'Jacques Francois', serif;
    text-shadow: 
        2px 2px 0 #000, 
        -3px -3px 0 #000,  
        1px -1px 0 #000,
        -.5px .5px 0 #000,   
        1px 1px 0 #000;
}

.label-authen {
    font-size: 28px;
    font-weight: 500;
    color: #4E2F00;
    font-family: 'Jacques Francois', serif;
}

.authen_frnot-size {
    font-size: 18px;
    color: #4E2F00;
}

.text-underline {
    text-decoration: underline;
}

.btn-color {
    background-color: #BA4300;
}


@media screen and (max-width: 1429px) {
    .title-authen{
        font-size: 62px;
        font-weight: 500;
        text-shadow: 
        .5px .5px 0 #000, 
        -1.5px -1.5px 0 #000,  
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,   
        .5px 2px 0 #000;
    };
    .label-authen {
        font-size: 24px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1279px) {
    .title-authen{
        font-size: 45px;
        font-weight: 500;
        text-shadow: 
        .5px .5px 0 #000, 
        -1.5px -1.5px 0 #000,  
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,   
        .5px 2px 0 #000;
    };
    .label-authen {
        font-size: 22px;
        font-weight: 400;
    }
}

@media screen and (max-width: 1024px) {
    .title-authen{
        font-size: 40px;
        font-weight: 400;
        text-shadow: 
        .5px .5px 0 #000, 
        -1.5px -1.5px 0 #000,  
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,   
        .5px 2px 0 #000;
    };
    .label-authen {
        font-size: 20px;
        font-weight: 400;
    }
}

@media screen and (max-width: 767px) {
    .title-authen{
        font-size: 30px;
        font-weight: 400;
        text-shadow: 
        .5px .5px 0 #000, 
        -1.5px -1.5px 0 #000,  
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,   
        .5px 2px 0 #000;
    };

    .label-authen {
        font-size: 22px;
        font-weight: 400;
    }
}


@media screen and (max-width: 640px) {
    .title-authen{
        font-size: 30px;
        font-weight: 400;
        text-shadow: 
        .5px .5px 0 #000, 
        -1.5px -1.5px 0 #000,  
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,   
        .5px 2px 0 #000;
    };

    .label-authen {
        font-size: 18px;
        font-weight: 400;
    }
    .authen_frnot-size {
        font-size: 16px;
        color: #4E2F00;
    }
} 


@media screen and (max-width: 573px) {
    .title-authen{
        font-size: 30px;
        font-weight: 400;
        text-shadow: 
        .5px .5px 0 #000, 
        -1px -1px 0 #000,  
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,   
        .5px 2px 0 #000;
    };

    .label-authen {
        font-size: 14px;
        font-weight: 400;
    }
    .authen_frnot-size {
        font-size: 14px;
        color: #4E2F00;
    }
} 

@media screen and (max-width: 557px) {
    .title-authen{
        font-size: 24px;
        font-weight: 400;
        text-shadow: 
        .5px .5px 0 #000, 
        -1px -1px 0 #000,  
        .5px -.5px 0 #000,
        -.5px .5px 0 #000,   
        .5px 2px 0 #000;
    };

    .label-authen {
        font-size: 14px;
        font-weight: 400;
    }
    .authen_frnot-size {
        font-size: 14px;
        color: #4E2F00;
    }
} 